* {
  color: #ececec;
  font-family: 'Open Sans', 'Helvatica Neue', sans-serif;
}


body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #212121;
  min-height: 100vh;
}

.main {
  background-color: #212121;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}