.chats {
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.chats::-webkit-scrollbar {
    width: 6px;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-track {
    background: transparent;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.g3gptDiv {
    text-align: left;
    font-size: 0.9rem;
}

.userprompt {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
}

.g3gptReply {}