.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 1rem 2rem;
    font-weight: 700;
    font-size: 1.2rem;

}

.userIcondiv {
    margin: 1rem 2rem;
    background-color: #3a3a3a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.userIcondiv:hover {
    background-color: #4a4a4a;
}

.userIcon {
    font-size: 1.1rem;
    color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputArea {
    width: 100%;
    max-width: 800px;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 10px;
}

.userInput {
    background-color: #2f2f2f;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.userInput input {
    background: transparent;
    border: none;
    flex-grow: 1;
    padding: 0.8rem;
    font-size: 1rem;
    outline: none;
}

#submit {
    font-size: 1.2rem;
    color: #000000;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
    transition: opacity 0.2s;
}

#submit:hover {
    opacity: 0.8;
}

.info {
    font-size: 0.75rem;
    color: #8e8e8e;
    margin-top: 12px;
}

.settingOptions {
    position: absolute;
    top: 4rem;
    right: 4rem;
    width: 160px;
    background-color: #323232;
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 2px 9px rgba(0,0,1);
    
}

.settingOptions i {
    padding-right: 2rem;
    font-size: 0.9rem;
}

.settingItem {
    font-size: 0.9rem;
    margin: 0.3rem 0rem;
    padding: 0.5rem 0.2rem;
}

.settingItem:hover {
     background-color: rgba(180, 180, 180, 0.1);
     border-radius: 6px;
}

