.chats {
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    overflow-y: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    scrollbar-width: thin;
    scrollbar-color: #555 transparent;
}

.chats::-webkit-scrollbar {
    width: 6px;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-track {
    background: transparent;
}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
}

.g3gptDiv {
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
}

.g3gptDiv p {
    margin-bottom: 1.2rem;
}

.g3gptDiv ul,
.g3gptDiv ol {
    margin-bottom: 1.2rem;
    padding-left: 1.5rem;
}

.g3gptDiv li {
    margin-bottom: 0.6rem;
}

.userprompt {
    background-color: #323232;
    padding: 10px 20px;
    border-radius: 14px;
}

.g3gptReply {}

.hljs {
    border-radius: 14px !important;
}

pre {
    white-space: pre-wrap;

}