.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    height: 25px;
    width: 20px;
}

.sidebar-header-btn {
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.2s;
    border-radius: 8px;
}

.sidebar-header-btn:hover {
    background-color: #2a2a2a;
}

.sidebar-header-btn i {
    color: #ffffff;
    font-size: 1.7rem;
    /* Even bigger size */
    background-color: transparent;
}

.history {
    list-style: none;
    padding: 1rem;
    margin: 0;
    flex-grow: 1;
}

.history li {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.history li:hover {
    background-color: #2a2a2a;
}

.last {
    padding: 1rem;
    border-top: 1px solid #2a2a2a;
    text-align: center;
}

.last p {
    margin: 0;
    font-weight: 400;
}